ALTER TABLE "public"."analytics_events" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."app_version" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."avatars" ENABLE ROW LEVEL SECURITY;
CREATE POLICY "avatars_select_authenticated" ON "public"."avatars" FOR SELECT USING ((( SELECT "auth"."uid"() AS "uid") IS NOT NULL));
ALTER TABLE "public"."chore_events" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."chores" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."home_entitlements" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."home_plan_limits" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."home_usage_counters" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."homes" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."invites" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."memberships" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;
CREATE POLICY "profiles_select_authenticated" ON "public"."profiles" FOR SELECT USING (("id" = ( SELECT "auth"."uid"() AS "uid")));
ALTER TABLE "public"."reserved_usernames" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."shared_preferences" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "public"."user_subscriptions" ENABLE ROW LEVEL SECURITY;
